params {
	//input from command lines
	all_input = ""

	threads = 1

	//working directory
	work_dir = "."
	results_dir = params.work_dir + "/results"
	index = params.work_dir + "/index"
	mapping = params.work_dir + "/mapping"
	stats_dir = params.work_dir + "/stats"
	
	
	label = ""

	
}

manifest {
	name = "DNA_damage"
	description = ""
	author = "Chenyu.Jin"
	mainScript = "dna_damage.nf"
	version = "1"
}

executor {
	queueSize = params.threads
}
  
